
.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: blue;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.sidebar > div > p {
    color: white;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "search_bar account_icons"
        "nav_bar nav_buttons"
    ;
}

.search_bar {
    grid: search_bar;
    justify-self: center;
}

.account_icons {
    grid: account_icons;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "notifications_logo profile_avatar username"
    ;
}

.notifications_logo {
    grid-area: notifications_logo;
}

.profile_avatar {
    grid-area: profile_avatar;
}

.username {
    grid-area: username;
}

.nav_bar {
    grid: nav_bar;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "nav_avatar nav_username"
    ;
}

.nav_profile_avatar {
    grid-area: nav_avatar;
}

.nav_username {
    grid-area: nav_username;
}

.nav_buttons {
    grid: nav_buttons;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "new upload share"
}

button {
    background-color: blue;
}

.new {
    grid-area: new;
}

.upload {
    grid-area: upload;
}

.share {
    grid-area: share;
}

.main {

    background-color: lightgray;
    grid-area: main;
    display: grid;
    padding: 10px;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 40% 10% 40%;
    gap: 10px;
    grid-template-areas: 
        "your_projects_heading announcement_heading"
        "card_container announcement_card"
        "card_container trending_heading"
        "card_container trending_card"
    ;
}

.card_container {
    grid-area: card_container;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: 10px;
}

.your_projects_heading {
    grid-area: your_projects_heading;
}

.card_container > div {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.annoucement_heading {
    grid-area: announcement_heading;
}

.announcement_card {
    grid-area: announcement_card;
    background-color: white;
    height: 100%;
}

.trending_heading {
    grid-area: trending_heading;
}

.trending_card {
    grid-area: trending_card;
    background-color: white;
    height: 100%;
}
